.counter-container,
.counter-container .cc {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
